.hamburger {
  /* ! none - here.. */
  display: none;
  margin-right: 12px;
  border: 0;
  height: 21px;
  background-color: transparent;
  overflow: visible;
  cursor: pointer;
  outline: none;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
}

.hamburger:focus-visible:not(:hover) {
  outline: 3px solid var(--white);
  outline-offset: 7px;
}

.hamburger.is-active .hamburger__inner,
.hamburger.is-active .hamburger__inner::before,
.hamburger.is-active .hamburger__inner::after {
  background-color: var(--white);
}

.hamburger__box {
  position: relative;
  display: inline-block;
  width: 19px;
  height: inherit;
  line-height: var(--default-lh);
}

.hamburger__inner {
  top: 50%;
  display: block;
  margin-top: -2px;
}

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
  position: absolute;
  border-radius: 4px;
  width: inherit;
  height: 2px;
  background-color: var(--white);
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
}

.hamburger__inner::before,
.hamburger__inner::after {
  content: "";
  display: block;
}

.hamburger__inner::before {
  top: -8px;
}

.hamburger__inner::after {
  bottom: -10px;
}

/* emphatic */

.hamburger_emphatic {
  overflow: hidden;
}

.hamburger_emphatic .hamburger__inner {
  transition: background-color 0.125s 0.175s ease-in;
}

.hamburger_emphatic .hamburger__inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
    top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}

.hamburger_emphatic .hamburger__inner::after {
  top: 8px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
    top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}

.hamburger_emphatic.is-active .hamburger__inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important;
}

.hamburger_emphatic.is-active .hamburger__inner::before {
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear,
    transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger_emphatic.is-active .hamburger__inner::after {
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear,
    transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* media queries */

@media (max-width: 536.98px) {
  .hamburger {
    display: inline-block;
  }
}
