.hamburger {
  box-sizing: content-box;
  margin-left: -10px;
  border: 0;
  padding: 10px 10px;
  height: 23px;
  background-color: transparent;
  overflow: visible;
  cursor: pointer;
  outline: none;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
}

.hamburger:focus-visible:not(:hover) {
  outline: 3px solid var(--orange-normal);
}

.hamburger.is-active .hamburger__inner,
.hamburger.is-active .hamburger__inner::before,
.hamburger.is-active .hamburger__inner::after {
  background-color: var(--orange-normal);
}

.hamburger__box {
  position: relative;
  display: inline-block;
  width: 30px;
  height: inherit;
  line-height: var(--default-lh);
}

.hamburger__inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
  position: absolute;
  width: inherit;
  height: 4px;
  background-color: var(--gray-dark);
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger__inner::before,
.hamburger__inner::after {
  content: "";
  display: block;
}

.hamburger__inner::before {
  top: -10px;
}

.hamburger__inner::after {
  bottom: -10px;
}

/* collapse */

.hamburger_collapse .hamburger__inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger_collapse .hamburger__inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    opacity 0.1s linear;
}

.hamburger_collapse .hamburger__inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger_collapse.is-active .hamburger__inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger_collapse.is-active .hamburger__inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    opacity 0.1s 0.22s linear;
}

.hamburger_collapse.is-active .hamburger__inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* media queries */

@media (max-width: 1280px) {
  .hamburger {
    margin-left: -11px;
  }
}

@media (max-width: 576px) {
  .hamburger__inner,
  .hamburger__inner::before,
  .hamburger__inner::after {
    height: 3px;
  }
}
