.header {
  padding-top: 29px;
  padding-bottom: 30px;
  min-height: 80px;
  background-color: var(--main-blue);
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-between;
  align-items: center;
  column-gap: 55px;
}

.header__logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 94px;
  min-height: 21px;
  outline: none;
}

.header__logo:focus-visible {
  outline: 3px solid var(--white);
  outline-offset: 6px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav-title {
  margin-right: 80px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 57px;
  font-weight: var(--regular);
  font-size: 18px;
  line-height: 20px;
  color: var(--white);
}

.header__item-link {
  position: relative;
  outline: none;
}

.header__item-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  transform: scaleX(0);
  transition: transform var(--short);
}

.header__item-link:focus-visible:not(:hover) {
  outline: 3px solid var(--white);
  outline-offset: 6px;
}

.header__item-link:active {
  color: var(--celestial);
}

.header__item-link:active::after {
  background-color: var(--celestial);
  transform: scaleX(1);
}

/* media queries */

@media (max-width: 696.98px) {
  .header {
    padding-top: 30px;
    min-height: 133px;
  }

  .header__container {
    justify-content: center;
    row-gap: 0;
    column-gap: 70px;
  }

  .header__logo {
    margin-bottom: 31px;
  }
}

@media (max-width: 536.98px) {
  .header {
    padding-bottom: 29px;
    min-height: 80px;
  }

  .header__container {
    justify-content: space-between;
    column-gap: 0;
  }

  .header__logo {
    margin-bottom: 0;
    width: 72px;
    height: 16px;
  }

  .header__nav-wrap {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 12;
    display: none;
    border-bottom-right-radius: var(--main-radius);
    border-bottom-left-radius: var(--main-radius);
    padding: 60px 40px 30px;
    width: 250px;
    height: 100vh;
    background-color: var(--main-blue);
    box-shadow: 0 5px 40px var(--white);
    transform: translateX(-100%);
  }

  /* ! animations @keyframes, menu-open / menu-close */
  .header__nav-wrap.is-active {
    display: block;
    transform: translateX(0);
    animation-name: menu-open;
    animation-duration: var(--short);
  }

  .header__nav-wrap.is-closed {
    animation-name: menu-close;
    animation-duration: var(--short);
  }

  .header__list {
    display: block;
    margin: 0;
    max-height: 100%;
    overflow-y: auto;
    font-weight: var(--regular);
    font-size: var(--default-fs);
    line-height: 21px;
  }

  .header__item {
    margin: 10px 10px 30px;
  }

  .header__hamburger {
    position: relative;
    z-index: 13;
    display: inline-block;
  }
}

@media (any-hover: hover) {
  .header__item-link:hover:not(:active):after {
    height: 2px;
    transform: scaleX(1);
  }
}
