.hero {
  margin-bottom: 37px;
  min-height: 626px;
  background: radial-gradient(
    44.07% 44.07% at 67.78% 55.93%,
    #555681 0%,
    #212133 100%
  );
}

.hero__wrapper {
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 2px;
  padding-top: 136px;
  padding-bottom: 50px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 360px;
}

.hero__content-title {
  font-size: 60px;
  line-height: 60px;
  color: var(--white);
}

.hero__content-text {
  font-weight: var(--regular);
  font-size: 18px;
  line-height: 27px;
  color: var(--white);
}

.hero__btn:not(:last-child) {
  margin-right: 20px;
  margin-bottom: 20px;
}

.hero__content-text:last-of-type {
  margin-bottom: 62px;
}

.hero__svg {
  display: flex;
  margin-top: -115px;
  margin-right: -2px;
  margin-bottom: -38px;
  width: 100%;
  max-width: 633px;
  min-height: 593px;
  background-image: url("../img/hero_bg_1440.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* media queries */

@media (max-width: 991.98px) {
  .hero {
    margin-bottom: 40px;
    min-height: 620px;
  }

  .hero__wrapper {
    margin-left: 0;
    padding-top: 130px;
  }

  .hero__content {
    min-height: 355px;
  }

  .hero__content-title {
    margin-bottom: 16px;
    font-size: 50px;
    line-height: 50px;
  }

  .hero__content-text {
    width: 100%;
    /* max-width: 345px; */
    max-width: calc(991 / 1100 * 100%);
    /* ! 1100 рабочий размер контейнера без padding's, a 991 точка перехода в media-запрос с которого начинается подготовка к одному из основных/макетных break-поинтов, в данном случае для/к 768px */
  }

  .hero__svg {
    margin-top: -30px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: -43px;
    max-width: calc(991 / 1100 * 100%);
    min-height: 360px;
    background-image: url("../img/hero_bg_768.svg");
  }
}

@media (max-width: 696.98px) {
  .hero {
    min-height: 567px;
    background: radial-gradient(
      49% 49% at 67.78% 84.57%,
      #555681 0%,
      #2e2b44 100%
    );
  }

  .hero__wrapper {
    padding-top: 77px;
  }

  .hero__content {
    max-width: 385px;
  }

  .hero__svg {
    display: none;
  }
}

@media (max-width: 536.98px) {
  .hero {
    margin-bottom: 25px;
    min-height: 353px;
  }

  .hero__wrapper {
    position: relative;
    padding-top: 50px;
  }

  .hero__content {
    max-width: 100%;
    min-height: 253px;
  }

  .hero__content-title {
    margin-bottom: 4px;
    max-width: calc(536 / 1100 * 100%);
    font-size: 30px;
    line-height: 30px;
  }

  .hero__content .hero__content-text {
    margin-bottom: 45px;
    max-width: 100%;
    font-size: var(--default-fs);
    line-height: 21px;
  }

  .hero__svg {
    position: absolute;
    top: 29px;
    right: -12px;
    display: flex;
    margin-right: calc(10% - 29px);
    max-width: 115px;
    min-height: 95px;
    background-image: url("../img/hero_bg_320.svg");
  }
}
