.accordion__item {
  margin-top: -1px;
  border-bottom: 1px solid var(--gray-light);
  transition: border-color var(--short);
}

.accordion__item:first-child {
  border-top: 1px solid var(--gray-light);
}

.accordion__item:not(:first-child) {
  border-top: 1px solid transparent;
}

.accordion__item:focus-within {
  border-color: var(--orange-normal);
}

.accordion__title {
  margin: 0;
  font-size: 24px;
  line-height: 33px;
}

.accordion__btn {
  position: relative;
  display: block;
  padding-top: 39px;
  padding-right: 90px;
  padding-bottom: 39px;
  width: 100%;
  font-weight: var(--bold);
  font-size: inherit;
  line-height: inherit;
  text-align: left;
  color: inherit;
  outline: none;
  transition: color var(--short);
}

.accordion__btn:focus-visible {
  color: var(--orange-normal);
  cursor: pointer;
}

.accordion__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 50px;
  height: 50px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='25' cy='25' rx='25' ry='25' fill='%23CACACA'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.0571 24.0571L25.0571 9L25.9429 9L25.9429 24.0571L33.8835 24.0571L41 24.0571L41 24.9429L25.9429 24.9429L25.9429 40L25.0571 40L25.0571 24.9429L10 24.9429L10 24.0571L25.0571 24.0571Z' fill='black'/%3E%3C/svg%3E%0A");
  transition: background-image var(--short), transform var(--short) ease-in-out;
  transform: translateY(-50%);
}

.accordion__btn:focus-visible::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='25' cy='25' rx='25' ry='25' fill='%23FF9900'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.0571 24.0571L25.0571 9L25.9429 9L25.9429 24.0571L33.8835 24.0571L41 24.0571L41 24.9429L25.9429 24.9429L25.9429 40L25.0571 40L25.0571 24.9429L10 24.9429L10 24.0571L25.0571 24.0571Z' fill='white'/%3E%3C/svg%3E%0A");
}

.accordion__content {
  overflow: hidden;
  visibility: hidden;
  transition-property: height, visibility;
  transition-timing-function: ease;
}

.accordion_active .accordion__content {
  visibility: visible;
}

.accordion_active .accordion__btn::after {
  transform: translateY(-50%) rotate(45deg);
}

.accordion__text {
  margin: 0;
  max-width: 1005px;
  font-weight: var(--regular);
}

.accordion__text:first-child {
  margin-bottom: 32px;
}

.accordion__text:last-child {
  margin-bottom: 40px;
}

/* media queries */

@media (max-width: 1280px) {
  .accordion__title {
    font-size: 20px;
    line-height: 32px;
  }

  .accordion__btn {
    padding-top: 30px;
    padding-right: 145px;
    padding-bottom: 30px;
    min-height: 110px;
  }
}

@media (max-width: 800px) {
  .accordion__btn {
    padding-right: 95px;
    padding-bottom: 31px;
    min-height: 109px;
  }
}

@media (max-width: 576px) {
  .accordion__title {
    font-size: 14px;
    line-height: 24px;
  }

  .accordion__btn {
    padding-right: 45px;
    padding-bottom: 30px;
    font-weight: var(--medium);
  }

  .accordion__btn::after {
    width: 30px;
    height: 30px;
  }

  .accordion__btn_fix-line {
    padding-bottom: 30.5px;
  }

  .accordion__text {
    font-size: 12px;
    line-height: 18px;
  }

  .accordion__text:first-child {
    margin-bottom: 22px;
  }

  .accordion__text:last-child {
    margin-bottom: 30px;
  }

  .accordion__text.accordion__text_fix-line:last-child {
    margin-bottom: 29px;
  }
}

@media (any-hover: hover) {
  .accordion__item:hover:not(:active) {
    border-color: var(--orange-normal);
  }

  .accordion__btn:hover:not(:active) {
    color: var(--orange-normal);
    cursor: pointer;
  }

  .accordion__btn:hover:not(:active):after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='25' cy='25' rx='25' ry='25' fill='%23FF9900'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.0571 24.0571L25.0571 9L25.9429 9L25.9429 24.0571L33.8835 24.0571L41 24.0571L41 24.9429L25.9429 24.9429L25.9429 40L25.0571 40L25.0571 24.9429L10 24.9429L10 24.0571L25.0571 24.0571Z' fill='white'/%3E%3C/svg%3E%0A");
  }
}
