@import url("_fonts.css");
@import url("_variables.css");
@import url("_global.css");
@import url("_btn.css");
@import url("_keyframes.css");
@import url("_header.css");
@import url("_hamburger.css");
@import url("_search-form.css");
@import url("_hero.css");
@import url("_about.css");
@import url("_card-de.css");
@import url("_card.css");
@import url("_how.css");
@import url("_tabs.css");
@import url("_questions.css");
@import url("_accordion.css");
@import url("_footer.css");
@import url("_socials.css");
@import url("_feedback.css");
