.header {
  border-radius: 0px 0px 32px 32px;
  padding-top: 14px;
  padding-bottom: 14px;
  min-height: 100px;
  background-color: var(--white);
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
}

.page__header {
  margin-bottom: 25px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__hamburger {
  display: none;
}

.header__logo,
.header__search-btn {
  flex-shrink: 0;
}

.header__logo {
  display: flex;
  align-items: center;
  margin-right: 80px;
  width: 225px;
  min-height: 72px;
}

.header__nav,
.header__list {
  display: flex;
}

.header__nav {
  align-items: center;
  margin-right: -10px;
}

.header__nav-title {
  margin-right: 80px;
}

.header__list {
  flex-wrap: wrap;
  row-gap: 10px;
  margin-right: 251px;
  font-weight: var(--semibold);
  font-size: 18px;
  line-height: 22px;
}

.header__item:not(:last-child) {
  margin-right: 85px;
}

.header__item-link {
  position: relative;
  outline: none;
}

.header__item-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 100%;
  height: 2px;
  background-color: var(--orange-normal);
  transform: scaleX(0);
  transition: transform var(--short);
}

.header__item-link:focus-visible:not(:hover) {
  outline: 3px solid var(--orange-normal);
  outline-offset: 5px;
}

.header__item-link:active {
  color: var(--orange-dark);
}

.header__item-link:active::after {
  color: var(--orange-dark);
  background-color: var(--orange-dark);
  transform: scaleX(1);
}

.header__search-btn {
  box-sizing: content-box;
  padding: 10px 10px;
  width: 24px;
  height: 24px;
  line-height: 1;
  color: var(--black);
  outline: none;
  transition: color var(--short) ease-in-out;
}

.header__search-btn:focus-visible:not(:hover) {
  outline: 3px solid var(--orange-normal);
  outline-offset: 5px;
}

.header__search-btn:active {
  color: var(--orange-dark);
}

/* media queries */

@media (max-width: 1600px) {
  .header__list {
    margin-right: 85px;
  }
}

@media (max-width: 1280px) {
  .header {
    display: flex;
  }

  .page__header {
    margin-bottom: 20px;
  }

  .header__container {
    width: 100%;
  }

  .header__hamburger {
    display: inline-block;
  }

  .header__logo {
    margin-right: 0;
    width: 150px;
    min-height: 48px;
  }

  .header__list {
    display: none;
  }
}

@media (max-width: 800px) {
  .header {
    padding-top: 11px;
    padding-bottom: 10px;
    min-height: 69px;
  }
}

@media (max-width: 576px) {
  .header {
    border-radius: 0px 0px 16px 16px;
    padding-top: 10px;
  }

  .page__header {
    margin-bottom: 15px;
  }

  .header__logo {
    width: 110px;
    min-height: 35px;
  }
}

@media (any-hover: hover) {
  .header__item-link:hover:not(:active):after {
    height: 2px;
    transform: scaleX(1);
  }

  .header__search-btn:hover:not(:active) {
    color: var(--orange-normal);
    cursor: pointer;
  }
}
