.feedback__title {
  margin-bottom: 25px;
}

.feedback__form {
  display: flex;
  flex-direction: column;
}

.feedback__input {
  margin-bottom: 25px;
  border: none;
  border-radius: 16px;
  padding: 14px 24px;
  line-height: 32px;
  color: var(--gray-light);
  background-color: var(--gray-dark);
  outline: none;
  transition-property: color, background-color;
  transition-duration: var(--short);
  transition-timing-function: ease-in-out;
}

.feedback__input:focus-visible {
  background-color: var(--gray-normal);
}

.feedback__input:focus-visible {
  color: var(--white);
}

.feedback__input::placeholder {
  color: var(--gray-light);
}

.feedback__input_textarea {
  margin-bottom: 32px;
  height: 150px;
  resize: none;
}

.feedback__form-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback__submit-btn {
  flex-shrink: 0;
  /* margin-right: 22px; */
  padding: 19px 38px;
  max-width: 269px;
  width: 100%;
}

.feedback__label {
  line-height: 1;
  cursor: pointer;
  transition: color var(--short) ease-in-out;
}

.feedback__visual-check {
  position: relative;
  display: inline-block;
  border: 1px solid;
  width: 14px;
  height: 14px;
  transition: border-color var(--short) ease-in-out;
}

.feedback__visual-check::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border-bottom: 2px solid var(--green-light);
  border-left: 2px solid var(--green-light);
  width: 7px;
  height: 4px;
  opacity: 0;
  transform: translate(-50%, -70%) rotate(-45deg) scale(5);
  transition-property: opacity, transform;
  transition-duration: var(--short);
}

.feedback__visual-check,
.feedback__visual-text {
  vertical-align: middle;
}

.feedback__checkbox:checked ~ .feedback__visual-check::before {
  opacity: 1;
  transform: translate(-50%, -70%) rotate(-45deg) scale(1);
}

.feedback__checkbox:focus-visible ~ .feedback__visual-check {
  border-color: var(--orange-normal);
}

@media (max-width: 1280px) {
  .feedback__input_textarea {
    margin-bottom: 33px;
  }

  .feedback__submit-btn {
    padding: 19px 38px 18px;
    max-width: 241px;
  }
}

@media (max-width: 576px) {
  .feedback__title {
    margin-bottom: 20px;
  }

  .feedback__input {
    padding-right: 20px;
    padding-left: 20px;
  }

  .feedback__input_textarea {
    margin-bottom: 26px;
  }

  /* .feedback__form-bottom {
    flex-direction: column;
    align-items: center;
  } */

  .feedback__submit-btn {
    /* margin-right: 0; */
    /* margin-bottom: 10px; */
    padding: 12px 27px 11px;
    width: auto;
    min-width: 179px;
  }

  /* .feedback__visual-text {
    font-size: 16px;
    line-height: 32px;
  } */
}

@media (any-hover: hover) {
  .feedback__input:hover:not(:active) {
    background-color: var(--gray-normal);
  }

  .feedback__label:hover:not(:active) {
    color: var(--white);
  }
}
