html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

.page {
  min-width: var(--page-min-width);
  font-family: var(--montserrat), sans-serif;
  font-size: var(--default-fs);
  line-height: var(--default-lh);
  height: auto;
  color: var(--black);
  background-color: var(--white);
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
  max-width: var(--container-max-width);
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-btn {
  border: none;
  padding: 0;
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.section-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: var(--regular);
  font-size: 48px;
  line-height: 59px;
}

.text {
  margin-top: 0;
  margin-bottom: 50px;
}

.text:last-child {
  margin-bottom: 0;
}

@media (max-width: 576px) {
  .section-title {
    font-size: 24px;
    line-height: 29px;
  }
}
